body {
  background-color: #c3c3c3;
  font-family: "Roboto" sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 20px auto;
  border-radius: 16px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 60px;
  width: 50%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background: #ed0808;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 60px;
  color: white;
}

.weather-app-city {
  text-align: center;
}
header {
  display: inline;
}
h1 {
  font-size: 15px;
}
.weather-type {
  text-align: center;
  position: relative;
  top: 280px;
}
.weather-app-temperature-container {
  text-align: center;
  color: white;
}
.temperature {
  font-size: 50px;
  position: relative;
  top: 289px;
}

.temp-detail {
  position: relative;
  top: 235px;
}
.weather-feeling {
  position: relative;
  top: 280px;
  margin-left: 45px;
}
.weather-index {
  position: relative;
  top: 300px;
  margin-left: 45px;
}

.weather-app-temperature {
  font-size: 88px;
  text-align: center;
  font-weight: bold;
}
.rounded-corner-1 {
  background: black;
  margin: auto;
  border-radius: 60px;
  padding: 58px;
}
.rounded-corner-2 {
  background: white;
  margin: 10px auto;
  border-radius: 60px;
  padding: 40px;
}
.rounded-corner-3 {
  background: red;
  margin: 10px auto;
  border-radius: 60px;
  padding: 40px;
}
