body {
  background-color: #c3c3c3;
  font-family: "Roboto" sans-serif;
}

.weather-app-city {
  text-align: center;
}
header {
  display: inline;
}
h1 {
  font-size: 15px;
}
.weather-type {
  text-align: center;
  position: relative;
  top: 280px;
}
.weather-app-temperature-container {
  text-align: center;
  color: white;
}
.temperature {
  font-size: 50px;
  position: relative;
  top: 289px;
}

.temp-detail {
  position: relative;
  top: 235px;
}
.weather-feeling {
  position: relative;
  top: 280px;
  margin-left: 45px;
}
.weather-index {
  position: relative;
  top: 300px;
  margin-left: 45px;
}

.weather-app-temperature {
  font-size: 88px;
  text-align: center;
  font-weight: bold;
}
.rounded-corner-1 {
  background: black;
  margin: auto;
  border-radius: 60px;
  padding: 58px;
}
.rounded-corner-2 {
  background: white;
  margin: 10px auto;
  border-radius: 60px;
  padding: 40px;
}
.rounded-corner-3 {
  background: red;
  margin: 10px auto;
  border-radius: 60px;
  padding: 40px;
}
