body {
  background-color: #c3c3c3;
  font-family: "Roboto" sans-serif;
}

.weather-app-city {
  text-align: center;
}
header {
  display: inline;
}
h1 {
  font-size: 8px;
  margin-top: 0px;
}
.temperature {
  font-size: 15px;
}
.weather-type {
  text-align: center;
}
.weather-index {
  text-align: center;
  background: red;
  max-width: 400px;
  margin: auto;
  border-radius: 60px;
  padding: 10px;
}
.weather-feeling {
  text-align: center;
  background: white;
  max-width: 400px;
  margin: 8px auto;
  border-radius: 60px;
  padding: 10px;
}
.weather-app-temperature-container {
  text-align: center;
  color: white;
  background: black;
  max-width: 400px;
  margin: 8px auto;
  border-radius: 60px;
  padding: 10px;
}
.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
  text-align: center;
}
.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}
